@page "/"

<PageTitle>Index</PageTitle>

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="vstack gap-1 text-start">
        <p class="display-6">Twitch Downloader, PWA.</p>
        <hr />
        <p class="lead">
            You may install this Progressive Web Application via the install icon within the right corner of the URL navigation bar
            <br />
            .NET PWA applications can be installed onto a machine simmilar to native applications. <small class="text-muted">Running with WebAssembly</small>
        </p>
    </div>
</div>