@page "/Export/Clips"


<div class="container-lg ">
    <div class="input-group flex-nowrap" style="padding-top: 20px;">
        <span class="input-group-text" id="addon-wrapping">Clip Id</span>
        <input type="text" class="form-control" placeholder="Clip Url" aria-label="Clip" aria-describedby="addon-wrapping">
    </div>

    <hr />

    <p class="lead">
        You may export any public twitch clip from here.
    </p>
</div>
@code {

}
